* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --comics-dark: #1c1c1c;
  --comics-primary: #0282f9;
  --comics-end: #303030;
  --comics-menu: #535461;
}

/* Header */

.container {
  width: 80%;
  margin: auto;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  img {
    width: 70px;
  }

  ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 0.75rem;

    a {
      text-decoration: none;
      color: var(--comics-menu);
      font-size: 11px;
      font-weight: 800;
      position: relative;

      &:hover {
        color: var(--comics-primary);

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -61px;
          width: 100%;
          height: 3px;
          background-color: var(--comics-primary);
        }
      }


    }
  }
}

/* Main */

.jumbotron {
  background-image: url(/jumbotron.jpg);
  min-height: 300px;
  background-size: cover;
}

.dark {
  background-color: var(--comics-dark);
  min-height: 8rem;

  .comics {
    position: relative;
    padding: 1rem 0;
  }

  h3 {
    color: white;
    padding-top: 3rem;
  }

  img:hover {
    cursor: pointer;
  }

  .btn-case {
    display: flex;
    justify-content: center;
    padding: 1rem;

    .load {
      background-color: var(--comics-primary);
      padding: 0.5rem 2rem;
      color: white;
      font-size: 10px;

      &:hover {
        background-color: rgb(0, 119, 255);
        cursor: pointer;
      }
    }
  }
}

.cont {
  width: 80%;
  margin: auto;
}

.primary {
  background-color: var(--comics-primary);
  min-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    display: flex;
    gap: 4rem;
    align-items: center;
    list-style: none;

    img {
      width: 35px;
      vertical-align: middle;
    }

    a {
      text-decoration: none;
      color: rgb(232, 230, 230);
      font-size: 0.75rem;

      &:hover {
        color: white;
      }

      .locator {
        width: 22px;
      }

      span {
        padding-left: 0.5rem;
      }
    }
  }
}

img {
  max-width: 100%;
}

h2 {
  color: white;
  position: absolute;
  left: 7%;
  top: -3%;
  background-color: var(--comics-primary);
  padding: 0.5rem 0.75rem;
  font-size: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.col-2 {
  width: calc((100% / 12) * 2);
  padding: 1rem;
  color: white;

  h6 {
    text-transform: uppercase;
    padding-top: 0.5rem;
  }
}

/* Footer */
.utility {
  background-image: url(/footer-bg.jpg);
  min-height: 200px;
  padding-bottom: 4rem;
  position: relative;
  overflow: hidden;

  .link {
    display: flex;
    gap: 2rem;

    h4 {
      color: white;
      padding: 0.75rem 0;
    }

    ul {
      list-style: none;

      a {
        text-decoration: none;
        color: gray;

        &:hover {
          color: white;
        }
      }
    }
  }

  .logo {
    position: absolute;
    top: -20%;
    right: 5%;
    width: 450px;
  }
}

.sign-up {
  background-color: var(--comics-end);
  padding: 2rem 0;

  .cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    background-color: var(--comics-end);
    border: 1px solid var(--comics-primary);
    padding: 0.5rem;
    color: white;

    &:hover {
      background-color: rgb(39, 39, 39);
      color: var(--comics-primary);
      cursor: pointer;
    }
  }

  ul {
    display: flex;
    gap: 1rem;
    list-style: none;
  }

  .social {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: var(--comics-primary);

    img {
      width: 30px;
    }
  }
}