* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.container {
  margin: 0 auto;
  margin-left: 100px;
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  img {
    width: 70px;
  }

  ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 0.75rem;

    a {
      text-decoration: none;
    }
  }
}